.nav {
  background-color: $clr-bg-white;
  display: flex;
  justify-content: space-between;
  padding: 1rem 5%;

  &__links {
    display: flex;
    gap: 3vw;
  }

  &__link {
    padding: 1rem 0.5rem 1.5rem;
  }

  &--active {
    color: $clr-blue;
    border-bottom: 2px solid $clr-blue;
  }

  &__profile {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .MuiAvatar-root {
    width: 28px;
    height: 28px;
  }

  &__logoMobile {
    display: none;
  }
}

.settingsModal {
  position: absolute;
  z-index: 10;
  display: none;
  background-color: $clr-bg-white;
  top: 3.5rem;
  border-radius: $border-radius;
  left: -35%;
  width: 160px;
  color: $clr-text-black;
  padding: 0.4rem;

  &--show {
    display: block;
  }

  &__line {
    margin: 1rem 0;
    border: 1px solid $clr-gray-light;
  }
}

@media (max-width: 800px) {
  .nav {
    &__links {
      position: fixed;
      background-color: $clr-bg-white;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: space-evenly;
      padding: 1.4rem 0;
    }

    &__link {
      padding: 1rem 1.5rem 1.5rem;
    }

    &__logoMobile {
      display: block;
    }

    &__logoDesktop {
      display: none;
    }
  }

  .settingsModal {
    left: -125px;

    &--show {
      display: block;
    }

    &__line {
      margin: 1rem 0;
      border: 1px solid $clr-gray-light;
    }
  }
}
